<div class="row card-box"  >

  <div class="col-sm-3" >
    <div class="card" >
      <div class="card-body is-focusable-add card-profile-add" >
        <div class="row">
          <p class="card-text">{{"PROFILE.ADD_PROFILE"|translate}}</p>
        </div>
        <div class="row">
          <mat-icon style="font-size: 25px;   padding: 0" >add_circle_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 " >
    <div class="card" >
      <div class="card-body is-focusable card-profile">
        <h4 class="card-title">{{"PROFILE.NAME_PROFILE"|translate}}</h4>
        <p class="card-text">{{"PROFILE.STATUS_PROFILE"|translate}}</p>
        <p class="card-text">{{"PROFILE.DAYS_PROFILE"|translate}}</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>
  </div>

  <div class="col-sm-3 ">
    <div class="card">
      <div class="card-body  is-focusable card-profile">
        <h4 class="card-title">{{"PROFILE.NAME_PROFILE"|translate}}</h4>
        <p class="card-text">{{"PROFILE.STATUS_PROFILE"|translate}}</p>
        <p class="card-text">{{"PROFILE.DAYS_PROFILE"|translate}}</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>
  </div>

  <div class="col-sm-3  ">
    <div class="card">
      <div class="card-body is-focusable card-profile">
        <h4 class="card-title">{{"PROFILE.NAME_PROFILE"|translate}}</h4>
        <p class="card-text">{{"PROFILE.STATUS_PROFILE"|translate}}</p>
        <p class="card-text">{{"PROFILE.DAYS_PROFILE"|translate}}</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>
  </div>

</div>
