.box-profile-inputs1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-profile-inputs2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.margin2percent {
  justify-items: center;
  justify-content: space-around;
}

.dialog-profile {
  min-width: 750px;
}

@media only screen and (max-width: 1000px) {
  .dialog-profile {
    min-width: auto
  }
  .box-profile-inputs2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }

}

@media only screen and (max-width: 600px) {
  .dialog-profile {
    min-width: auto
  }
  .box-profile-inputs2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }

}
