<form   class="login-page">
  <div class="colunm-1">
    <div class="box-login">
      <div class="label-float">
        <input name="email" placeholder="_"/>
        <label>{{"USER.NAME" | translate}}</label>
      </div>
      <div class="label-float">
        <input name="password" type="password" placeholder="_"/>
        <label>{{"USER.USERNAME" | translate}}</label>
      </div>
      <div class="label-float">
        <input name="password" type="password" placeholder="_"/>
        <label>{{"LOGIN.EMAIL" | translate}}</label>
      </div>
      <div class="label-float">
        <input name="password" type="password" placeholder="_"/>
        <label>{{"LOGIN.PASSWORD" | translate}}</label>
      </div>
      <div class="label-float">
        <input name="confirm-password"  type="password" placeholder="_"/>
        <label>{{"LOGIN.CONFIRM_PASSWORD" | translate}}</label>
      </div>
      <div class="group-button">
        <button class="btn-login">{{"LOGIN.SIGNUP" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="colunm-2">
    <div class="body">
      <img src="assets/img/c.png"/>
      <div class="options-btn">
        <button class="option option-active"></button>
        <button class="option"></button>
        <button class="option"></button>
      </div>
      <div class="details"></div>
    </div>
  </div>
</form>
