<!-- Navbar -->
<div class="colunm-2"  >
  <div class="header">
    <div class="img-box">
      <img class="img" src="assets/img/bio.png"/>
    </div>
    <button class="btn active" routerLink="/login" >{{"NAVBAR.HOME" | translate}}</button>
    <button class="btn" routerLink="/listprofile" *ngIf="authService.isLoggedIn$ | async">{{"PROFILE.PROFILE" | translate}}</button>


    <div ngbDropdown class="d-inline-block"  >
      <button type="button" class="btn  language" id="dropdownBasic1" aria-hidden="true" ngbDropdownToggle><mat-icon>language</mat-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  aria-hidden="true" appendto="'body'"  >
        <button ngbDropdownItem (click)="changeLanguage('pt')" >{{"LANGUAGE.PT" | translate}}</button>
        <button ngbDropdownItem (click)="changeLanguage('en')">{{"LANGUAGE.EN" | translate}}</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block" *ngIf="authService.isLoggedIn$ | async" >
      <button type="button" class="btn  language" id="dropdownUser" aria-hidden="true" ngbDropdownToggle><mat-icon>account_circle </mat-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" aria-hidden="true"  >
        <button ngbDropdownItem (click)="openDialog()" >{{"NAVBAR.HELP" | translate}}</button>
        <button ngbDropdownItem (click)="logout()" > {{"NAVBAR.LOGOUT" | translate}}</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
