:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.8;
  background: #64528b;
}

.btn {
  width: 80px;
  height: 30px;
  margin-right: 30px;
  margin-top: 20px;
  border: 0;
  border-bottom: 1px solid transparent;
  outline: none;
  color: #f6f6f6;
  font-weight: bold;
  background: transparent;
  transition: 500ms;
}

.img-box {
  width: 50px;
  height: 50px;
  margin: 10px;
  top: 0;
  left: 0;
  opacity: 0.7;
  position: absolute;
  display: flex;
  background: #f2f2f2;
  border-radius: 30px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.img {
  width: 40px;
  height: 40px;
}

.active {
  width: 80px;
  height: 30px;
  margin-right: 30px;
  margin-top: 20px;
  border: 1px solid #64528b;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 15px;
  background: #64528b;
  outline: none;
  color: #f2f2f2;
  font-weight: bold;
  box-shadow: 1px 1px 10px #999;
}
.dropdown-toggle::after {
  display: none;
}

.language{
  width: 15px;
}
ng-select select-dropdown > div {
  z-index: 99999999;
}

.btn:hover {
  cursor: pointer;
  border-bottom: 1px solid #64528b;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width:1000px){
  .colunm-1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 80px;
  }
  .img-box{
    margin-left: 40%;
    margin-top: 30%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    opacity: 1;
  }
  .img{
    width: 80px;
    height: 80px;
  }
  .img-play{
    display: none;

  }
  .colunm-2{
    display: none;
    width: 0;
    height: 0;
  }
  .group-option{
    margin-left: 80px;
  }
  .btn-login{
    margin-left: 100px;
  }
}
