<div class="login-page">
  <div class="colunm-1">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="box-login">
        <div class="label-float">
          <input name="email" type="email"  formControlName="email" placeholder="_"/>
          <label>{{"LOGIN.EMAIL" | translate}}</label>
        </div>
        <div class="label-float">
          <input name="password" type="password" formControlName="password" placeholder="_"/>
          <label>{{"LOGIN.PASSWORD" | translate}}</label>
        </div>

        <div class="group-button">
          <button class="btn-login" type="submit">{{"LOGIN.LOGIN" | translate}}</button>
          <button class="btn-singup" routerLink="/reset">{{"LOGIN.RESET" | translate}}</button>
          <button class="btn-singup" routerLink="/signup">{{"LOGIN.SIGNUP_LOGIN" | translate}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="colunm-2">
    <div class="body">
      <img src="assets/img/c.png"/>
    </div>
  </div>
</div>
