<div class="login-page">
  <div class="colunm-1">
        <div class="img-box">
          <img class="img" src="assets/img/bio.png"/>
        </div>
    <div class="box-login">
      <div class="label-float">
        <input name="email" placeholder="_"/>
        <label>E-mail</label>
      </div>
      <div class="label-float">
        <input name="password" type="password" placeholder="_"/>
        <label>Password</label>
      </div>
      <div class="group-option">
        <input type="checkbox"/>
        <p>Permanecer conectado</p>
      </div>
      <div class="group-button">
        <button class="btn-login">Login</button>
        <button class="btn-singup" routerLink="/signup">sign up</button>
      </div>
    </div>
  </div>
  <div class="colunm-2">
    <div class="body">
      <img src="assets/img/c.png"/>
      <div class="options-btn">
        <button class="option option-active"></button>
        <button class="option"></button>
        <button class="option"></button>
      </div>
      <div class="details"></div>
    </div>
  </div>
</div>
