<mat-accordion  class="example-headers-align" style="display: flex;justify-content: center; ">
  <mat-tab-group mat-align-tabs="center"
                 style="max-width: 1000px!important; width: 750px; border: 1px solid gray; border-radius: 10px; margin: 3%">
    <mat-tab label="Perfil">

      <mat-expansion-panel [expanded]="step === i" *ngFor="let res of resultado; index as i"
                           (opened)="setStep(i)" hideToggle style="  border-bottom: 1px solid gray; justify-content: center">

        <mat-expansion-panel-header>
          <mat-panel-title style="justify-content: center">
            {{res.task_title}}
            <mat-icon> account_circle</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header  >

        <mat-card>{{res.task_response}}</mat-card>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Finished</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-tab>

    <mat-tab label="Propriedades" disabled="disabled">
    </mat-tab>
  </mat-tab-group>
</mat-accordion>
