<mat-accordion class="example-headers-align" style="display: flex;justify-content: center; " >
  <mat-tab-group mat-align-tabs="center" style="width: 90%; border: 1px solid gray; border-radius: 10px; margin: 3%"  >
    <mat-tab label="Passos de aquecimento" >

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle style="  border-bottom: 1px solid gray"  >
        <mat-expansion-panel-header >
          <mat-panel-title>
            Integrar conta com APP
          </mat-panel-title>
          <mat-panel-description>
            Integração de conta (UBER)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Descrição</mat-label>
          <input matInput readonly value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.">
        </mat-form-field>
        <mat-action-row style="display: flex; justify-content: space-between">
          <button mat-button color="primary" (click)="nextStep()">Voltar</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo (1/4)</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle style="  border-bottom: 1px solid gray"  >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vincular telefone
          </mat-panel-title>
          <mat-panel-description>
            Melhorar verificação da conta
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-tab>

    <mat-tab label="Informações do perfil">
      <div class="container my-3 my-sm-5">
        <h1 class="mb-3 mb-sm-5 text-center">Update your account</h1>
        <div class="row"style="display:flex;justify-content: center;align-items: center;">
          <div class="col-12 col-md-4 mb-4">
            <div class="card card-outline-success text-center">
              <div class="card-header bg-success text-white">
                <h2>Personal</h2>
                <h4>R$:39.00 / Month</h4>
              </div>
              <div class="card-block">
                <p class="card-text text-left my-2 text-center">
                  Perfeito para aumentar qualidade dos seus perfis.
                </p>
              </div>
              <ul class="list-group small">
                <li class="list-group-item">10 Perfis</li>
                <li class="list-group-item">TESTE</li>
                <li class="list-group-item">TESTE</li>
                <li class="list-group-item">TESTE</li>
              </ul>
              <div class="card-footer">
                <button type="button" class="btn btn-success btn-lg" >
                  Select
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-accordion>
